body {
    background-color: #416788; /* or any other color */
    color: #fff
}

.logo {
    height: 10px;      /* try 40, 50, 60 until it looks right */
    width: auto;       /* keeps aspect ratio */
}

.sale-button {
    width: 50%;
}

.btn-primary {
    background-color: #154734;
    border-color: #154734;
    color: white;
}

.btn-primary:hover {
    background-color: #97b357 !important;
    border-color: #97b357 !important;
    color: #fff !important;
}

.btn-secondary {
    background-color: #B5BAD0;
    border-color: #B5BAD0;
    color: white;
}

.btn-secondary:hover {
    background-color: #7389AE !important;
    border-color: #7389AE !important;
    color: #fff !important;
}